body,
p,
h1 {
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: #F0F4F7;
    min-height: 100vh;
    padding: 24px;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 20px;
    width: 282px;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0 4px 24px 0 rgba(44, 52, 55, 0.04);
}

.card .line {
    position: absolute;
    left: 0;
    width: 4px;
    height: calc(100% - 48px);
    border-radius: 12px;
}

.card .line.pending {
    background: #747C80;
}

.card .line.progress {
    background: #F8A010;
}

.card .line.done {
    background: #006D4A;
}

.card .card-header h1 {
    color: #2C3437;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}

.card .card-body p {
    color: #596064;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
}
.card .card-body {
    width: 100%;
}

.card .card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.btn-task {
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 16px;
    width: auto;
    padding: 8px;
    background: transparent;
    border: 0;
    cursor: pointer;
}

.btn-task.primary {
    color: #0053DC;
}

.btn-task.primary:hover {
    text-decoration: underline;
}

.btn-task.success {
    color: #006D4A;
}

.btn-task.return {
    color: #596064;
}


.mb-16 {
    margin-bottom: 16px;
}